.about-card{
    background: linear-gradient(90deg,#160042,#753a88);
    padding: 20px;
    border-radius: 10px;
}

.about-img1{
    height: 170px;
    width: 270px;
    border-radius: 30px;
    border: white;
    border-style:solid;
    border-width: 2px;
}

.background-video{
    width: 320px;
    height: 320px;
}